<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Poptopo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <div class="flex items-center gap-4">
          <a href="<%= root_path%>"><%= image_tag("logo.svg", size: "32") %></a>
          <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
            PopTopo
          </p>
        </div>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          <a href="/map" class="hover:text-zinc-700">
            Map
          </a>
          <a href="/tags" class="hover:text-zinc-700">
            Tags
          </a>
          <a href="https://github.com/icstrouse/poptopo" target="_blank" class="hover:text-zinc-700">
            GitHub
          </a>
        </div>
      </div>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
